<!--
	创建人：李志伟
	创建时间：2017年2月7日 12:22:28
	功能描述：导航栏、菜单栏 、商品分类（与首页的样式不同，没有轮播图）
-->
<style>
</style>

{if condition="$is_head_goods_nav eq 1"}
<div class="category-box">
{else/}
<div class="category-box category-box-border">
{/if}
	<div class="w1210">
		<!-- <div class="home-category fl">
			<a href="{:__URL('SHOP_MAIN/goods/category')}" class="menu-event" title="查看全部商品分类"><i></i>全部商品分类</a>
			{if condition="$is_head_goods_nav eq 1"}
			<div class="category-layer" style="display: block;">
			{else/}
			<div class="expand-menu category-layer" style="display: none;">
			{/if} -->
				<!-- 公共的菜单栏-->
				<!-- <div class="category-layer">
					<span class="category-layer-bg"></span>
					{foreach $goods_category_one as $k=>$vo}
					{if condition="$k lt 13"}
					<div class="list">
						<dl class="cat">
							<dt class="cat-name">
								<a href="{:__URL('SHOP_MAIN/goods/goodslist','category_id='.$vo['category_id'])}" target="_blank" title="{$vo.category_name}">{$vo.category_name}</a>
							</dt>
							{if $vo['count'] >0}
							<i class="right-arrow">&gt;</i>
							{/if}
						</dl>
						<div class="categorys" style="display: none;">
							<div class="item-left fl">
								<div class="subitems">
								{if condition="$vo['child_list'] neq null "}
								{foreach $vo['child_list'] as $vo2}
									
									<dl class="fore1">
										<dt style="width: 5em;">
											<a href="{:__URL('SHOP_MAIN/goods/goodslist','category_id='.$vo2['category_id'])}" target="_blank" title="{$vo2.category_name}">
												<em>{$vo2.category_name}</em>
												{if $vo2['count'] >0}
												<i>&gt;</i>
												{/if}
											</a>
										</dt>
										<dd>
										{if condition="$vo2['child_list'] neq null "}
											{foreach $vo2['child_list'] as $vo3}
												<a href="{:__URL('SHOP_MAIN/goods/goodslist','category_id='.$vo3['category_id'])}" target="_blank" title="{$vo3.category_name}">{$vo3.category_name}</a>
											{/foreach}
										{/if}
										</dd>
									</dl>
									
								{/foreach}
								{/if}
								</div>
							</div>
						</div>
					</div>
					{/if}
					{/foreach}
				</div> -->
			<!-- </div>
		</div> -->
		<!-- 公共的菜单栏-->
	{include file='shop/blue/controlCommonNav'/}
		<!-- <div class="rightbox">
			<div class="rightimg"></div>
			<div id="rightbox">
					<ul class="paomadeng">
					</ul>
			</div>
		</div> -->
	</div>
</div>

<style>
	/* *{
		transform: translateX()
	} */
</style>
<script>
    var url = window.location.href;
    $("#nav a[href='"+url+"']").parent('li').addClass('active');
	
	function goup(){
		let len = $("#rightbox .paomadeng li").length
		let len1 = $("#rightbox1 .paomadeng li").length
		// $(".paomadeng").after($(".paomadeng"));
		$("#rightbox .paomadeng").clone().prependTo("#rightbox");
		$("#rightbox1 .paomadeng").clone().prependTo("#rightbox1");
		let index = 0
		let index1 = 0
		setInterval(function(){
			index++;
			index1++;
			$("#rightbox").css({
				"transform": "translateY("+ -80*index +"px)",
				"transition": "0.4s all"
			})
			$("#rightbox1").css({
				"transform": "translateY("+ -80*index1 +"px)",
				"transition": "0.5s all"
			})
			if(index>=len){
				setTimeout(function(){
					$("#rightbox").css({
						"transform": "translateY(0px)",
						"transition": "0s all"
					})
					index = 0
				},400)
			}
			if(index1>=len1){
				setTimeout(function(){
					$("#rightbox1").css({
						"transform": "translateY(0px)",
						"transition": "0s all"
					})
					index1 = 0
				},400)
			}
		},3000)
	}

	$(function () {
		var html = '';
        $.ajax({
            url : "{:__URL('SHOP_MAIN/index/getorder')}",
            type : "post",
            success : function(res) {
                // console.log('res',res);
                for (var k=0;k<res['buy'].length;k++){
                    // html += "<li><p><span>" + res['buy'][k].user_name + "</span><span>" + res['buy'][k].country + "</span></p><p><span>" + res['buy'][k].goods_name+' '+res['buy'][k].num + "条</span></p><p><span>" + res['buy'][k].pay_time + "</span><span>已下单</span></p></li>";
										html += "<li><p><span>用户名</span><span>时间</span><span>国家</span></p><p><span>" + res['buy'][k].user_name + "</span><span>" + res['buy'][k].pay_time + "</span><span>" + res['buy'][k].country + "</span></p><p><span>商品名称</span><span>购买数量</span></p><p><span>" + res['buy'][k].goods_name + "</span><span>"+res['buy'][k].num+"</span></p></li>"
								}
								$("#rightbox .paomadeng").html(html);
								html = '';
                for (var j=0;j<res['send'].length;j++){
									html += "<li><p><span>用户名</span><span>时间</span><span>国家</span></p><p><span>"+res['send'][j].user_name+"</span><span>"+res['send'][j].consign_time+"</span><span>"+res['send'][j].country+"</span></p><p><span>商品名称</span><span>购买数量</span></p><p><span>"+res['send'][j].goods_name + "</span><span>"+res['send'][j].num+"</span></p></li>"
                    // html += "<li><p><span>"+res['send'][j].user_name+"</span><span>"+res['send'][j].country+"</span></p><p><span>"+res['send'][j].goods_name+' '+res['send'][j].num+"条</span></p><p><span>"+res['send'][j].consign_time+"</span><span>已发货</span></p></li>";
                }
                $("#rightbox1 .paomadeng").html(html);
                goup()
            }
        });
    });
</script>