{extend name="adminblue/base" /}
{block name="resources"/}
<style>
.modal{margin-left: -280px;width:560px;}
.ns-main{margin-top:0px;}
.modal-dialog .table-class{border-top:1px solid #E1E6F0}
.add-child{padding-left: 15px;background: url(ADMIN_IMG/add-child.png) no-repeat;background-position: 0 2px;}
.add-child i{font-style: normal;display: none;}
.add-child:hover i{display: inline-block;}
.baoxian{
	width: 50px;
}
.tianjiabtn{
	margin-bottom: 1px !important;
}
.baoxianitem{
	max-width: 420px;
	font-size: 0px;
}
.baoxianitem p{
	border: 1px solid #cccccc;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	padding: 0 4px;
	position: relative;
	margin-right: 3px;
	font-size: 12px;
}
.baoxianitem p:hover{
	border: 1px solid rgba(82, 168, 236, 1);
	cursor: pointer;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.baoxianitem p:hover:after{
	content: "×";
	font-size: 30px;
	color: #ffffff;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 30px;
}
</style>
{/block}
{block name="main"}
<div class="space-10"></div>
<div class="ncsc-form-goods">
	{include file="adminblue/Express/expressTitle"}
	<!-- 基础设置 -->
	
	<div class="mod-table">
	<div class="mod-table-head">
		<!-- 地区表格 -->
	<div class="options-btn">
		<button class="btn-common" onclick="addCountry()">添加国家</button>
	</div>
	<table class="table-class">
		<colgroup>
			<col style="width: 2%">
			<col style="width: 53%;">
			<col style="width: 5%;">
			<col style="width: 10%;">
			<col style="width: 30%;">
		</colgroup>
		<thead>
			<tr align="center">
				<th></th>
				<th align="left">名称</th>
				<th>排序</th>
				<th>操作</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!-- 循环省级地区 -->
			{foreach name="country" item="v1"}
			<tr class="areaTr pid_0" id="{$v1.id}">
				<td></td>
				<td class="areaTd province_{$v1.id}" >
					<input type="text" class="areaName input-common"  fieldid="{$v1.id}" value="{$v1.name}" onchange="updateRegionAjax(1,2,this);" />
				</td>
				<td class="areaTd province_{$v1.id}" align="center">
					<input type="text" class="sort input-common input-common-sort" fieldid="{$v1.id}" fieldname="sort" value="{$v1.sort}"
						   onkeyup="this.value=this.value.replace(/\D/g,'')" size="1" onchange="updateRegionAjax(1,1,this);">
				</td>
				<td class="areaTd" style="color: #13A5D5;" align="center">
					<a href="javascript:;" onclick="updateCountry({$v1.id});">修改</a>
					<a href="javascript:;" onclick="delcountry({$v1.id})">删除</a>
				</td>
				<td></td>
			</tr>
			{/foreach}
			<!-- 循环省级地区 -->
		</tbody>
	</table>
		</div>
	</div>
</div>


<!-- 地区父级id隐藏域 -->
<input type="hidden" id="id" value="0" />

<!-- 国家添加与修改模态框 -->
<div class="modal fade hide" id="evaluate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="myModalLabel">添加国家</h3>
			</div>
			<div class="modal-body">
				<table class="table-class">
					<tr>
						<td align="right"><span style="color:red;margin-right:10px;">*</span>国家名称：</td>
						<td><input type="text" id="countryName" style="margin-bottom: 5px;" class="input-common"/></td>
					</tr>
					<tr>
						<td align="right"><span style="color:red;margin-right:10px;">*</span>保险：</td>
						<td>
								价格区间：<input type="number" id="start" style="margin-bottom: 5px;" class="baoxian"/> - <input type="number" id="end" style="margin-bottom: 5px;" class="baoxian"/>   保险费：<input type="number" id="price" style="margin-bottom: 5px;" class="baoxian"/>%
								<button type="button" onclick="baoxianadd()" class="btn-small btn-common tianjiabtn">添加</button>
								<div id="baoxianitem" class="baoxianitem">

								</div>
						</td>
					</tr>
					<tr>
						<td align="right">排序：</td>
						<td><input type="number" id="regionSort" onkeyup="this.value=this.value.replace(/\D/g,'')" class="input-common harf" /></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<input type="hidden" id="evaluate_id" />
				<button type="button" class="btn-common btn-big" onclick="addOrUpdateAjax()">保存</button>
				<button type="button" class="btn-common-cancle btn-big" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function delcountry(regionId){
    var reminderInfo = "确认删除所选国家？";
	$( "#dialog" ).dialog({
		buttons: {
			"确定": function() {
			$(this).dialog('close');
				$.ajax({
					type:"post",
					url:"{:__URL('ADMIN_MAIN/config/deleteCountry')}",
					data:{
						'regionId':regionId
					},
					dataType: 'json',
					success:function (data) {
						if(data['code'] == 0){
							showTip(data.message,"success");
							location.reload();
						}else{
							$("#dialog").dialog({
								 buttons: {
									"确定,#0059d6,#fff": function() {
										$(this).dialog('close');
									}
								},
								contentText:data.message
							});
						}
					}
				});
			},
			"取消,#f5f5f5,#666": function() {
				$(this).dialog('close');
			}
		},
		contentText : reminderInfo,
	});
}

function clearInput(){
	$("#regionSort").val('');
		$("#regionName").val('');
		$("#zipcodeVal").val('');
}
//添加
function addCountry(){
	$("#myModalLabel").text("添加国家");
	$("#superiorRegionTr").hide();
	$("#type").val(6);
	$("#zipcode").hide();
	$(".js-area-select").show();//只有一级地区才显示
	clearInput();
	$("#evaluate").modal('show');
}

// 添加保险
function baoxianadd(){
    if($("#start").val()==''||$("#end").val()==''||$("#price").val()==''){
        showTip('价格，保险不能为空','warning');
        return false
    }
    if($("#start").val() > $("#end").val()){
        showTip('起始价格不能大于结束价格','warning');
        return false
    }
    if($("#price").val() < 0){
        showTip('保险费不能为负','warning');
        return false
    }
    var txt = '<p><span>'+$("#start").val()+'</span>-<span>'+$("#end").val()+'</span> <span>'+$("#price").val()+'</span>%</p>';
    $("#baoxianitem").append(txt);
    $("#start").val('');
    $("#end").val('');
    $("#price").val('');
}
// 删除保险
$("#baoxianitem").click(function(e){
	if(e.target.nodeName=="P"){
        var id = $(e.target).attr('data-id');
        var ajaxUrl ="{:__URL('ADMIN_MAIN/config/delInsurance')}";
        $.ajax({
            type : "post",
            url : ajaxUrl,
            data : {"id" : id},
            success : function(data){
            }
        });
        $(e.target).remove()
	}
});
//修改
function updateCountry(province_id){
    $("#evaluate_id").val(province_id);
	$("#myModalLabel").text("国家编辑");
    $("#baoxianitem").html('');
	//获取所修改地区的值
	var province_name = $(".province_"+province_id).children("input").val();
	var sort = $(".province_"+province_id+":eq(1)").children("input").val();
    var ajaxUrl ="{:__URL('ADMIN_MAIN/config/getInsurance')}";
    $.ajax({
        type : "post",
        url : ajaxUrl,
        data : {"province_id" : province_id},
        success : function(data){
            var length = data.length;
            var txt = '';
            if (length > 0){
                for (var i=0; i < length; i++){
                    txt += '<p data-id="'+data[i].id+'"><span>'+data[i].start_price+'</span>-<span>'+data[i].end_price+'</span> <span>'+data[i].insurance_price+'</span>%</p>';
				}
                $("#baoxianitem").append(txt);
			}
        }
    });
    $("#countryName").val(province_name);
	$("#regionSort").val(sort);
	$("#evaluate").modal('show');
}

//添加编辑国家
function addOrUpdateAjax(){
	var countryName = $("#countryName").val();
	var evaluate_id = $("#evaluate_id").val();
	var data = [];
	for(var i = 0; i<$("#baoxianitem p").length;i++){
		var a = $("#baoxianitem p").eq(i).find('span')[0].innerText;
		var b = $("#baoxianitem p").eq(i).find('span')[1].innerText;
		var c = $("#baoxianitem p").eq(i).find('span')[2].innerText;
		var d = $("#baoxianitem p").eq(i).attr('data-id');
		data.push({
			id:d,
			start:a,
			end:b,
			price:c
		})
	}
	data = JSON.stringify(data);
    //console.log(data);return false;
    if($("#regionSort").val().length == 0){
		var regionSort = 0;
	}else{
		var regionSort = $("#regionSort").val();
	}
	if(countryName==''){
		$("#countryName").focus();
		showTip('国家名称不能为空','warning');
		return false;
	}
	var ajaxUrl ="{:__URL('ADMIN_MAIN/config/addCountry')}";
	$.ajax({
		type : "post",
		url : ajaxUrl,
		data : {
		    "evaluate_id" : evaluate_id,
			"countryName" : countryName,
			"regionSort" : regionSort,
			"baoxian" : data
		},
		success : function(data){
			$("#evaluate").modal('hide');
            if(data.code == 0){
                showTip(data['message'],"success");
				location.reload();
			}else{
				showTip(data['message'],"error");
			}
		}
	});
}
</script>
{/block}